<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Commons.Json" version="0.3.0.775" targetFramework="net45" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net40" />
  <package id="JSON" version="1.0.1" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.7.0.0" targetFramework="net40" />
</packages>