[submodule "Utilities"]
	path = Utilities
	url = git@github.com:strandtentje/apollogeese-utilities.git
[submodule "Tests"]
	path = Tests
	url = git@github.com:strandtentje/apollogeese-tests.git
[submodule "documentation"]
	path = documentation
	url = git@github.com:strandtentje/apollogeese-doc.git
